<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Markers</h1>

  <%= render 'table', markers: @markers %>

  <br>

  <%= link_to 'Zur Karte', root_path %> | <%= link_to 'Unternehmensliste', companies_path %>

</div>