<div>
	<form>
		<div class="form-group">
			<label for="markerInputName">Name</label>
			<input type="text" ng-model="marker.name" class="form-control" id="markerInputName" aria-describedby="markerNameHelp" placeholder="Name eingeben">
			<small id="markerNameHelp" class="form-text text-muted">Name zum wiedererkennen</small>
		</div>
		<div class="form-group">
			<label for="markerInputDescription">Beschreibung</label>
			<textarea type="text" ng-model="marker.description" class="form-control" id="markerInputDescription" aria-describedby="markerDescriptionHelp" placeholder="Beschreibung eingeben"></textarea>
			<small id="markerDescriptionHelp" class="form-text text-muted">Beschreibung zum wiedererkennen</small>
		</div>

		<div class="form-group">
			<label>Immobilienhai</label>
			<div>

					<ui-select allow-clear ng-model="marker.company" theme="bootstrap">
						<ui-select-match placeholder="Select or search a immo company in the list...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="company in companies | filter: $select.search"  ng-hide="!$select.open">
							<span ng-bind-html="trustAsHtml((company.name | highlight: $select.search))"></span>
						</ui-select-choices>
					</ui-select>

			</div>
		</div>

		<p>
			Koordinaten:
			<br>
			{{ marker.lat }} LAT, {{ marker.lng }} LNG
			<br>
			Adresse
			<br>
			{{ marker.address }}
		</p>
		<button type="submit" class="btn btn-primary" ng-click="save()">Speichern</button>
		<a ui-sref="^.show({markerId: marker.id})" href="" class="btn btn-link" >Zurück</a>
	</form>

</div>
