<div class="container-fluid">

	<h1>Editing Company</h1>

	<%= render 'form', company: @company %>

	<%= render 'markers/table', markers: @company.markers %>

	<%= link_to 'Show', @company %> |
	<%= link_to 'Back', companies_path %>
</div>