// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { height: 480px; }

.sidebar-content {
	overflow: hidden !important;

	.sidebar-pane {
		height: 100%;

		.ui-view-content {
			height: 100%;
			overflow: scroll;

			padding-top: 10px;
		}
	}

}